@model ModelCliente ;
@{
    ViewData["Title"] = "Apagar Contato"; 
}
 <div class="text-center">
    <h1 class="display-4">Deseja realmente apagar o registro de (@Model.Nome)?</h1>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-success" asp-controller="Contato" asp-route-id="@Model.Id" asp-action="Apagar" >Sim</a>
        <a class="btn btn-danger" asp-controller="Contato" asp-action="Index">Não</a>
    </div>
    <br />
    <br />
</div>

