@model ModelCliente;  //O ModelContato Carrega automaticamente os input's se o os valores escritos no "asp-for" estiver igual aos nomes da field da tabela. E não houver o atributo value="" dentro do input
@{
    ViewData["Title"] = "Editar Contato"; 
}
 <div class="text-center">

    <h1 class="display-4">Editar de Contato</h1>

         <form asp-controller="Contato" asp-action="Alterar" method="post">   <!-- O atributo asp-controller informa quem é Controller que receberá o submit o   asp-action = "Cadastrar"" o método que iratratar a requisição sobre o método method="post" POST -->       
             <div>
                <input type="hidden" asp-for="Id"  /> <!-- Esse tag input do tipo hidden, com asp-fo "Id" é nescerráio para que o Id também seja enviado no POST para a controler Contato -->
             </div>

              <div class="col-md-12">
                <label for="validationDefault01" class="form-label">Nome</label>
                <input type="text" asp-for="Nome" class="form-control" onkeypress="if (isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;"> <!-- O atributo onkeypress valida somente entrada de dados do tipo A-Z a-z -->
                @Html.ValidationMessageFor(x=>x.Nome)
              </div>
              <div class="col-md-12">
                <label for="validationDefault02" class="form-label">Email</label>
                <input type="text" asp-for="Email" class="form-control" >
                @Html.ValidationMessageFor(x=>x.Email)
              </div>
              <div class="col-md-12">
                 <label for="validationDefaultUsername" class="form-label">Celular</label>
                  <input type="text" asp-for="Celular" minlength="11" maxlength="11" class="form-control" onkeypress="  if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;"><!--O atributo onkeypress valida somente entrada de dados do tipo 0-9 -->
                  @Html.ValidationMessageFor(x=>x.Celular)
              </div>
                <br />
              <div class="col-12">
                <button class="btn btn-success" type="submit">Atualizar</button>
                <a asp-controller="Contato" asp-action="Index" class="btn btn-danger btn-block">Voltar</a>
              </div>
        </form>
</div>
       