@model ModelUsuario;
@{
    Layout = "_LayoutSemlogin"; //Esse descrição do Layout tem que ser identica a descrição criada na pasta View/Shared
    ViewData["Title"] = "Login";
}
 <div class="text-center">
    @if(TempData["MensagemErro"]!= null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                @TempData["MensagemErro"]
            </div>
    
        }

    <form>
      <div class="mb-3 col-md-12">
        <label for="exampleInputEmail1" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="" required>
      </div>
      <div class="mb-3 col-md-12">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" id="" required> 
      </div>
      <!--<div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>-->
      <button type="submit" asp-controller="Login" asp-action="Logar" class="btn btn-primary">Logar</button>
    </form>
</div>